{% extends 'base_dashboard_admin3.html.twig' %}

{% block title %}Categorias de Indicadores
{% endblock %}
{% block javascripts %}
	<script src="/assets/js/validacion_delete_categoria.js"></script>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h3>Org. Supervigilancia/Acreditación</h3>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-12 col-md-12 col-lg-12">
						<div class='input-group'>
							<input type="text" class="form-control" name="ente" id='ente' value='{{ ente.nombre }}' disabled>
							<input type="hidden" name="enteid" id='enteid' value='{{ ente.id }}'>
						</div>
					</div>
				</div>
				<hr>

			</div>
		</div>


		<div class="row">
			<div class="col-12 col-md-12 col-lg-12 navigation text-center">
				<table class="table">
					<tr>
						<td width='75%' class='text-center'>
							{{ knp_pagination_render(categorias) }}
						</td>
						<td width='25%'>
							<div class='input-group'>
								<label class='input-group-text'>Cantidad de Registros</label>
								<select id='can_reg' name='can_reg' class="form-control" onchange="javascript:pagina2()">
									{% if (canReg == 5 ) %}
										<option value="5" selected>5</option>
									{% else %}
										<option value="5">5</option>
									{% endif %}

									{% if (canReg == 10 ) %}
										<option value="10" selected>10</option>
									{% else %}
										<option value="10">10</option>
									{% endif %}

									{% if (canReg == 20 ) %}
										<option value="20" selected>20</option>
									{% else %}
										<option value="20">20</option>
									{% endif %}

									{% if (canReg == 50 ) %}
										<option value="50" selected>50</option>
									{% else %}
										<option value="50">50</option>
									{% endif %}

									{% if (canReg == 100 ) %}
										<option value="100" selected>100</option>
									{% else %}
										<option value="100">100</option>
									{% endif %}
								</select>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr align='center'>
					<th>Id</th>
					<th>Nombre</th>
					<th>Org. supervigilancia/acreditación</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 1 %}
				{% for categorium in categorias %}
					<tr>
						<td align='center'>{{ i }}</td>
						<td>{{ categorium['nombre'] }}</td>
						<td>{{ categorium.ente.nombre }}</td>
						<td align='center'>
							<a href="{{ path('app_categoria_edit', {'id': categorium.id}) }}" title='Editar este  Organismo Acreditador'>
								<i class='far fa-edit' style='font-size:22px; color:#14626f'></i>
							</a>
							<a href="javascript:borrar({{categorium.id }})" title='Borrar este Organismo Acreditador'>
								<i class='fas fa-eraser' style='font-size:22px;color:red'></i>
							</a>
						</td>
					</tr>
					{% set i = i + 1 %}
				{% else %}
					<tr>
						<td colspan="4">No se han definido Categorias de Indicadores</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>
		<div class="text-right">
			<a href="{{ path('app_categoria_new') }}" title='Crear una nueva Categoría'>
				<i class='fas fa-folder-open' style='font-size:22px ; color:#14626f'></i>
			</a>
		</div>
	</div>
{% endblock %}
