{% extends 'base_dashboard_admin2.html.twig' %}

{% block title %}Org. supervigilancia/acreditación
{% endblock %}
{% block javascripts %}
	<script src="/assets/js/validacion_delete_ente.js"></script>
{% endblock %}
{% block body %}
	<div class="container">
		<h3>Org. supervigilancia/acreditación</h3>
		<table class="table table-striped">
			<thead>
				<tr align='center'>
					<th>Id</th>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 1 %}
				{% for ente in entes %}
					<tr>
						<td align='center'>{{ i }}</td>
						<td>{{ ente.nombre }}</td>
						<td align='center'>
							<a href="{{ path('app_ente_edit', {'id': ente.id}) }}" title='Editar este  Organismo Acreditador'>
								<i class='far fa-edit' style='font-size:22px; color:#14626f'></i>
							</a>
							<a href="javascript:borrar({{ente.id }})" title='Borrar este Organismo Acreditador'>
								<i class='fas fa-eraser' style='font-size:22px;color:red'></i>
							</a>
						</td>
					</tr>
					{% set i = i + 1  %}
				{% else %}
					<tr>
						<td colspan="3">No se han definido Organismos Acreditadores</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>
		<div class="text-right">
			<a href="{{ path('app_ente_new') }}" title='Crear un nuevo Periodo'>
				<i class='fas fa-folder-open' style='font-size:22px ; color:#14626f'></i>
			</a>
		</div>
	</div>
{% endblock %}
