{% extends 'base.html.twig' %}

{% block title %}Indicador index{% endblock %}

{% block body %}
    <h1>Indicador index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Formula</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for indicador in indicadors %}
            <tr>
                <td>{{ indicador.id }}</td>
                <td>{{ indicador.nombre }}</td>
                <td>{{ indicador.formula }}</td>
                <td>
                    <a href="{{ path('app_indicador_show', {'id': indicador.id}) }}">show</a>
                    <a href="{{ path('app_indicador_edit', {'id': indicador.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_indicador_new') }}">Create new</a>
{% endblock %}
