{% extends 'base_publico2.html.twig' %}

{% block title %}Registros del Sistema
{% endblock %}
{% block javascripts %}
	<script src="/assets/js/validacion_public_indicador.js"></script>
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				<h3>Org. Supervigilancia/Acreditación</h3>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-12 col-md-12 col-lg-12">
						<div class='input-group'>
							<input type="text" class="form-control" name="ente" id='ente' value='{{ ente.nombre }}' disabled>
							<input type="hidden" name="enteid" id='enteid' value='{{ ente.id }}'>
						</div>
					</div>
				</div>
				<hr>

			</div>
		</div>
		<h3>Registros del Sistema</h3>
		<div class="row">
			<div class="col-12 col-md-10 col-lg-10 navigation text-center">
				{{ knp_pagination_render(indicadors) }}
			</div>
			<div class="col-12 col-md-2 col-lg-2 navigation text-center">
				<div class='input-group'>
					<label class='input-group-text'>Cantidad de Registros</label>
					<select id='can_reg' name='can_reg' class="form-control" onchange="javascript:pagina()">
						{% if (canReg == 5 ) %}
							<option value="5" selected>5</option>
						{% else %}
							<option value="5">5</option>
						{% endif %}

						{% if (canReg == 10 ) %}
							<option value="10" selected>10</option>
						{% else %}
							<option value="10">10</option>
						{% endif %}

						{% if (canReg == 20 ) %}
							<option value="20" selected>20</option>
						{% else %}
							<option value="20">20</option>
						{% endif %}

						{% if (canReg == 50 ) %}
							<option value="50" selected>50</option>
						{% else %}
							<option value="50">50</option>
						{% endif %}

						{% if (canReg == 100 ) %}
							<option value="100" selected>100</option>
						{% else %}
							<option value="100">100</option>
						{% endif %}
					</select>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-6">
				<div class='input-group'>
					<label class='input-group-text'>Categoria</label>
					<select id='categoria' name='categoria' class="form-control">
						<option value="-99">Todos</option>
						{% if categorias|length > 0 %}
							{% for categoria in categorias %}
								{% if (categoria.id == categoriaId) %}
									<option value="{{ categoria.id }}" selected>{{ categoria.nombre }}</option>
								{% else %}
									<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-6  text-right">
				<input type="button" class='btn boton02' value='Filtrar' onclick='javascript:filtrar()'>
				<input type='button' class="btn btn-secondary" value='Limpiar' onclick='javascript:limpiar()'>
			</div>
		</div>
		<hr>
		<table class="table table-striped">
			<thead>
				<tr align='center'>
					<th>Item</th>
					<th>Nombre</th>
					<th class='d-none  d-md-none  d-lg-none d-xl-table-cell'>Descripción</th>
					<th class='d-none  d-md-none  d-lg-none d-xl-table-cell'>Formula</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 1 %}
				{% for indicador in indicadors %}
					<tr>
						<td align='center'>{{ i }}</td>
						<td>{{ indicador.nombre }}</td>
						<td class='d-none  d-md-none  d-lg-none d-xl-table-cell'>{{ indicador.descripcion }}</td>
						<td class='d-none  d-md-none  d-lg-none d-xl-table-cell'>{{ indicador.formula }}</td>
					</tr>
					{% set i = i + 1  %}
				{% else %}
					<tr>
						<td colspan="5">No se han definido indicadores</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
